<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TikTok WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>TikTok.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DC4BC90F1C0497C2000AC034</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC4BC9231C0497C3000AC034</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC4BC92E1C0497C3000AC034</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC4BC9371C0497C3000AC034</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
